<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.Properties.Settings.ConnectionString" connectionString="Data Source=kenc.dk;Persist Security Info=True;User ID=PocketInvestor;Password=Pass!word#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>